<div class="mb-3">
    <div class="row mb-3">
      <div class="col-2 px-0 left-line"><span></span></div>
      <div class="col-10"><h3>Habilidades e Conhecimentos</h3></div>
    </div>
    {% for skill in site.data.skills %}
    <div class="row mb-3">
      <div class="col-xs-12 col-md-2 px-md-0 text-md-right">
        {{ skill.category.name }}
      </div>

      <div class="col-10">
        {% for item in skill.category.skills %}
        {{ item }}{% if forloop.last %}.&nbsp;{% else %},&nbsp;{% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}

</div>
