---
---
@charset "utf-8";

//@import url('https://fonts.googleapis.com/css?family=Ubuntu');
//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Raleway:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap');

@import "bootstrap"; // main partials

body {
  font-family: 'Baloo Paaji 2', sans-serif;
  background-color: #f7f6f2 !important;
}

a {
  text-decoration: none !important;
  background-color: transparent !important;
  -webkit-text-decoration-skip: objects;
}

a:hover, a:focus {
  color: #2a2a2a;
  text-decoration: none;
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
}

article img {
  -webkit-box-shadow: 0px 5px 15px 1px rgba(230,230,230,1);
  -moz-box-shadow: 0px 5px 15px 1px rgba(230,230,230,1);
  box-shadow: 0px 5px 15px 1px rgba(230,230,230,1);
}

.page-header {
  // text-align: center;
  color: #fff;
  // color: #4d306e;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/layout/featured.jpg");
  width:100%;
  // height: 250px;
  overflow: hidden;
  padding: 50px 0;
  margin-bottom: 50px;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70%;
}

.page-content {
  z-index: 2;
}

.left-line span {
  width: 100%;
  display: block;
  height: 50%;
  border-bottom: 5px solid #5c5c5c
}

.post-list {
  padding: 80px 0;
  border-bottom: 1px solid #e8e7e7;
}

.post-list:last-of-type {
  border-bottom: none;
}

.post-header .post-meta-date {
  width: 12%;
  float: left;
  text-align: center;
}

.post-header .post-meta-date p span {
  display: block;
  font-size: 3.6rem;
  color: #2a2a2a !important;
  font-weight: 700;
  line-height: 1em;
}
.post-header .post-title {
  width: 78%;
  float: right;
}

.post-header .post-title .post-meta span {
    color: #a7a5a5;
    font-size: 16px;
    font-weight: 500;
}

.post-header .post-title h1, .post-header .post-title h2 {
  //font-size: 50px;
  color: #2a2a2a;
  //line-height: 1.4em;
  position: relative;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.post-header .post-title h2 a, .post-header .post-title h1 a {
  color: inherit;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .post-header .post-title h1:before, .post-header .post-title h2:before {
    content: '';
    display: block;
    position: absolute;
    top: 34px;
    left: -10%;
    height: 1px;
    width: 6%;
    background: #2a2a2a;
  }
}
.post-header {
  margin-bottom: 20px;
}

.post-header:after {
  content: '';
  display: block;
  clear: both;
}

.post-featured-image {
  margin-bottom: 40px;
}

.post-featured-image figure {
  margin-bottom: 0;
}

.post-featured-image figure img {
  width: auto;
  height: auto;
}

.post-body p, .default-page-entry p, .comment-body p, .post-body address, .default-page-entry address, .comment-body address {
  line-height: 1.8em;
  margin-bottom: 1.6em;
}

// .post-list .post-footer .btn-read-more {
//   display: inline-block;
//   color: #2a2a2a;
//   font-weight: 500;
//   font-size: 20px;
//   border: 2px solid #2a2a2a;
//   border-radius: 4px;
//   padding: 8px 30px;
//   transition: all 0.3s ease-in-out;
// }

.post-list .post-footer .btn-read-more {
  display: inline-block;
  color: #2a2a2a;
  font-weight: 500;
  font-size: 14px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  padding: 8px 30px;
  transition: all 0.3s ease-in-out;
}

.post-list .post-footer .btn-read-more .fas {
  font-size: 12px; 
}

.post-list .post-footer .btn-read-more:focus, .post-list .post-footer .btn-read-more:hover {
  background: #2a2a2a !important;
  color: #fff;
  text-decoration: none;
}