<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Jovane Pires">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  </head>

  <body>
    {% include navigation.html %}
    <header class="page-header" >
      <div class="container">
        <div class="row">
            <div class="d-inline-flex align-items-start">
              <div class="p-2">
                <img src="https://s.gravatar.com/avatar/f78d1158d3624507c05fb43230219ef1?s=115" alt="" class="img-thumbnail img-responsive">
              </div>
              <div class="p-2">
                <h1>JOVANE PIRES</h1>
                <h4>Desenvolvedor de Software</h4>
              </div>
              <div class="pt-5 text-right">&nbsp;</div>
              <div class="pt-5 text-right">
                <a class="text-white" href="https://github.com/jovanepires" target="_blank" onclick="handleOutboundLinkClicks(this)">
                  <i class="fab fa-github"></i> Github: @jovanepires
                </a><br />
                <a class="text-white" href="https://twitter.com/jovanepires" target="_blank" onclick="handleOutboundLinkClicks(this)">
                  <i class="fab fa-twitter"></i> Twitter: @jovanepires
                </a><br />
                <a class="text-white" href="mailto:jovane.amaro.pires@gmail.com">
                  <i class="far fa-envelope"></i>&nbsp;E-mail: jovane.amaro.pires[at]gmail.com
                </a>
              </div>
            </div>
        </div>
    </div>
    </header>
    <main role="main" class="container">
     {{ content }}
    </main><!-- /.container -->
  </body>
</html>
