<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="Veja a página de Jovane Pires, sua experiência profissional com desenvolvimento de sistemas para web, e histórico educacional">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="Jovane Pires">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-41937971-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-41937971-1');
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4858652514479774",
        enable_page_level_ads: true
      });
      function handleOutboundLinkClicks(event) {
        event.preventDefault();
        event.stopPropagation();

        if ("gtag" in window) {
          gtag('event', 'click', {
            'event_category' : 'outbound_link',
            'event_label' : event.target.href,
          });
        }

        return true;
      }
    </script>
  </head>

  <body>
    <header class="page-header" >
      <div class="container">
        <div class="d-row">
            <div class="d-flex justify-content-center align-items-center align-content-center">
              <div class="p-2">
                <img src="https://s.gravatar.com/avatar/f78d1158d3624507c05fb43230219ef1?s=115" alt="" class="img-thumbnail rounded-circle img-fluid">
              </div>
            </div>
        </div>
        <div class="d-row">
          <div class="d-flex justify-content-center align-items-center align-content-center">
              <div class="p-2 text-center mt-2">
                <h1>JOVANE PIRES</h1>
                <h4>Cientista/Engenheiro de Dados</h4>
              </div>
              
            </div>
        </div>        
      </div>
    </header>
    
    <main role="main" class="container">
     {{ content }}
    </main><!-- /.container -->

    <footer class="container">
      <div class="d-flex justify-content-center align-items-center align-content-center border-top my-5">
        <div class="p-2 mx-3 my-2"><a class="text-dark" href="https://github.com/jovanepires" target="_blank" onclick="handleOutboundLinkClicks(this)"><i class="fab fa-github"></i> Github</a></div>
        <div class="p-2 mx-3 my-2"><a class="text-dark" href="https://twitter.com/jovanepires" target="_blank" onclick="handleOutboundLinkClicks(this)"><i class="fab fa-twitter"></i> Twitter</a></div>
        <div class="p-2 mx-3 my-2"><a class="text-dark" href="https://www.linkedin.com/in/jovanepires/" target="_blank" onclick="handleOutboundLinkClicks(this)"><i class="fab fa-linkedin"></i> LinkedIn</a></div>
      </div>
    </footer>
  </body>
</html>
